# Pandas Study

In [7]:
import pandas as pd

### Series
Similar to Python's Dictionary Type

In [8]:
sr = pd.Series([17000, 18000, 1000, 5000], 
              index=['피자', '치킨', '콜라', '맥주'])
sr

피자    17000
치킨    18000
콜라     1000
맥주     5000
dtype: int64

In [6]:
print(sr.values)
print(sr.index)

[17000 18000  1000  5000]
Index(['피자', '치킨', '콜라', '맥주'], dtype='object')

### DataFrame
Just table with column and row

In [14]:
values = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
index = ['one', 'two', 'three']
columns = ['A', 'B', 'C']

df = pd.DataFrame(values, index=index, columns=columns)
df

       A  B  C
one    1  2  3
two    4  5  6
three  7  8  9

In [18]:
df.index

Index(['one', 'two', 'three'], dtype='object')

In [19]:
df.columns

Index(['A', 'B', 'C'], dtype='object')

In [20]:
df.values

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]], dtype=int64)

# Sklearn (sci-kit learn) Study

In [9]:
import sklearn

## Data Preprocesssing

In [28]:
import pandas as pd
from sklearn import datasets
from IPython.display import display

dataset = datasets.load_boston()

df = pd.DataFrame(dataset.data, columns=dataset.feature_names)
df['target'] = dataset.target
display(df.head())
display(df.tail())

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88,11.9

In [36]:
display(dataset.data.shape)
display(dataset.target.shape)

x_train = dataset.data[:]
y_train = dataset.target[:]

(506, 13)

(506,)

## Linear Regression

In [44]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(x_train, y_train)

count = 506
dist = 0

for idx, cur_data in enumerate(x_train): 
    dist += (abs(y_train[idx] - model.predict([cur_data])))

display('Accuracy:', dist * 100 / count)

'Accuracy:'

array([327.08628109])

## Perceptron

## Naive Bayes

## K-Nearest Neighbors